:host {
  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--color-secondary);
    margin: 10px;
    padding: 15px 25px;

    @media (min-width: 500px) {
      flex-direction: row;
    }

    .content {
      width: 70%;
      .title {
        font-weight: 500;
        font-size: 1.2rem;
        margin-bottom: 5px;
        text-transform: capitalize;
      }
      .description,
      .dates {
        font-size: 0.9rem;
      }
      .dates {
        margin-top: 10px;
        font-weight: 500;
        .date {
          margin-bottom: 3px;
        }
        span {
          font-weight: 400;
          margin-right: 10px;
        }
      }
    }
    cp8-base-priority {
      font-size: 30px;
      margin: 5px;
    }

    cp8-base-button {
      min-width: auto;
      background-color: transparent;
    }
    &.completed {
      background-color: var(--color-secondary);
      .fa-check {
        color: var(--color-disabled);
      }
    }
  }
}
.fa-check {
  color: var(--color-primary);
  font-size: 44px;
  cursor: pointer;
  transition: (0.2s all ease);
  &:hover {
    color: var(--color-primary-dark);
  }
}
