<div [ngClass]="{'completed': task.date.completion}">
  <cp8-base-priority [level]="task.priority"></cp8-base-priority>
  <div class="content">
    <div class="title">{{task.title}}</div>
    <div class="description">{{task.description}}</div>
    <div class="dates">
      <div class="date">Creation : <span>{{task.date.creation | date:'medium' }}</span></div>
      <ng-container [ngTemplateOutlet]="task.date.completion ? completed : open"></ng-container>

      <ng-template #open>
        <div class="date">Pour le : <span>{{task.date.due | date:'medium' }}</span></div>
      </ng-template>

      <ng-template #completed>
        <div *ngIf="task.date.completion" class="date">
          Finie le :
          <span>{{task.date.completion | date:'medium'}}</span>
        </div>
      </ng-template>

    </div>
  </div>
  <cp8-base-button (click)="completeTask.emit(task)"><i class="fa-solid fa-check"></i></cp8-base-button>
</div>
