:host {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.55);
  top: 0;
  overflow: hidden;
}

div {
  background-color: white;
  width: 60%;
  margin: auto;
  min-height: 10vh;
  position: relative;
  padding: 2rem;
  animation: TopDown 0.6s ease;
  top: 10%;
  text-align: center;
}

@keyframes TopDown {
  0% {
    top: -100vh;
  }
  100% {
    top: 10%;
  }
}
