<cp8-page>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab sequi harum doloribus aspernatur ea sint accusantium enim
  labore nemo earum delectus deleniti saepe, reiciendis provident nisi quos! Tenetur, dolore ipsam.
  <ng-container class="modal">Merci!</ng-container>
</cp8-page>
