<form class="task-creation-form" #taskCreationForm="ngForm">
  {{task | json}}
  <div class="form-group">
    <label for="task-title">Titre: </label>
    <input id="task-title" required [(ngModel)]="task.title" name="title" />
  </div>

  <div class="form-group">
    <label for="task-description">Description: </label>
    <textarea id="task-description" required [(ngModel)]="task.description" name="description"></textarea>
  </div>

  <cp8-base-priority-select [(selected)]="task.priority"></cp8-base-priority-select>
  <input type="date" [(ngModel)]="task.date.due" value="task.date.due | 'yyy-mm-dd'" name="task-due" id="task-due" />

</form>

<cp8-base-button mode="cancel" (click)="taskCreated.emit(false)">CANCEL</cp8-base-button>
<cp8-base-button mode="valid" (click)="submit()">VALID</cp8-base-button>
