<cp8-base-header>
  <cp8-base-button mode="fab" (click)="openModal()">
    <i class="fa-regular fa-pen-to-square"></i>
  </cp8-base-button>
</cp8-base-header>


<cp8-base-modal *ngIf="modal">
  <app-feature-task-creation (taskCreated)="closeModal()"></app-feature-task-creation>
</cp8-base-modal>

<app-feature-task-stat></app-feature-task-stat>

<app-feature-task-filter></app-feature-task-filter>

<app-feature-task-list></app-feature-task-list>
