<cp8-base-header>
  <cp8-base-button mode="fab" (click)="openModal()">
    <i class="fa-regular fa-pen-to-square"></i>
  </cp8-base-button>
</cp8-base-header>
<main>
  <ng-content></ng-content>
</main>

<cp8-base-modal *ngIf="modal">
  <ng-content select=".modal"></ng-content>
</cp8-base-modal>
