/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --color-primary: rgb(62, 153, 5);
  --color-primary-dark: rgb(56, 122, 15);
  --color-secondary: #ebe4dc;
  --color-background: #9bd6d8;
  --color-basic: #4e85a8;
  --color-dark: #1d3557;
  --color-exception: rgb(212, 26, 26);
  --color-warning: rgb(250, 172, 28);
  --color-disabled: #8f8f8f;
}
