:host {
  display: inline-block;
  min-width: 100px;
  min-height: 45px;
  line-height: 45px;
  background-color: var(--color-secondary);
  border-radius: 8px;
  text-align: center;
  margin: 5px;
  transition: 0.5s all ease-in;
  cursor: pointer;
}

:host[mode] {
  color: white;
}

:host[mode="cancel"] {
  background-color: var(--color-exception);
}

:host[mode="valid"] {
  background-color: var(--color-primary);
}

:host[mode="fab"] {
  background-color: var(--color-background);
  box-shadow: 0 6px 11px 0 rgb(0, 0, 0, 0.2);
  border-radius: 50%;
  min-width: 45px;
  height: 45px;
  &:hover {
    background-color: #69b4b7;
  }
}

:host[action="shadow"] {
  &:hover {
    box-shadow: 0 6px 13px 0 rgb(0, 0, 0, 0.5);
  }
  &:active {
    box-shadow: 0 6px 13px 0 rgba(255, 0, 0, 0.8);
  }
}

:host[action="zoom"] {
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1.3);
  }
}
